[*]
end_of_line = lf
insert_final_newline = true
indent_style = space

[*.{js,java,properties,xml,css,less,json,html}]
charset = utf-8

[*.{java,xml}]
indent_size = 4

[*.{js,json,css,less,html}]
indent_size = 2 
